html{
    font-family: Arial, Helvetica, sans-serif;
}




header{
    background-color: #f7efda;
    color: brown;
}

nav>a{
    color:  #f7efda;
    background-color: brown;
    padding: 1rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 1rem;
}

header img{
    height: 10rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: -3rem;
    margin-top: -2rem;
    
}

header{ 
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 3rem;
}

h1{
    font-size: 232%;
}

.navy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10rem;
}

body{
    background-color: brown;
}

h2, h3{
    color: #f7efda;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}



body{
    margin: 0;
}





.bio{
    display: inline-block;
    text-align: center;
    background-color:brown;
    padding: 5rem 5rem;
    color: #f7efda;
    display: flex;
    flex-direction:column-reverse;
    margin
}

.aboot{
    display: inline-block;
    text-align: center;
    background-color:brown;
    padding: 5rem 5rem;
    color: #f7efda;
    display: flex;
    flex-direction:column-reverse;  
}

.shoop{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.merch img{
    
    background-color: #f7efda;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    align-items: center;
}

.coontact{
    display: inline-block;
    text-align: center;
    background-color:brown;
    padding: 5rem 5rem;
    color: #f7efda;
    display: flex;
    flex-direction:column-reverse;
    margin
}